/.vscode
/01-ObjectDetection/CenterNet/code/weight
/01-ObjectDetection/CenterNet/code/logs
/01-ObjectDetection/CenterNet/code/model_data
/01-ObjectDetection/CenterNet/code/trt
/01-ObjectDetection/CenterNet/code/yh.py
/01-ObjectDetection/CenterNet/code/img_out
/01-ObjectDetection/CenterNet/code/.temp_map_out
/01-ObjectDetection/CenterNet/code/__pycache__
/01-ObjectDetection/Yolo-v8/code/datas
/01-ObjectDetection/Yolo-v8/code/model_data
/01-ObjectDetection/Yolo-v8/code/logs
/01-ObjectDetection/Yolo-v8/code/trt
/01-ObjectDetection/Yolo-v8/code/__pycache__
/02-Segmetation/yolact/result_temp
/02-Segmetation/yolact/logs
/02-Segmetation/yolact/__pycache__
/02-Segmetation/yolact/weights
/02-Segmetation/yolact/nohup.out
/02-Segmetation/yolact/results
/02-Segmetation/yolact/yh.py
/02-Segmetation/yolact_trt/onnx
/02-Segmetation/yolact_trt/test_video
/02-Segmetation/yolact_trt/trt
/02-Segmetation/yolact_trt/result
/02-Segmetation/yolact/mAP/input
/02-Segmetation/yolact/mAP/output
/02-Segmetation/yolact/onnx
/02-Segmetation/Yolo-v8/pre_trained_weights
/02-Segmetation/Yolo-v8/results
/02-Segmetation/Yolo-v8/datas
/02-Segmetation/Yolo-v8/runs
/02-Segmetation/Yolo-v8/yolov8n.pt
/02-Segmetation/Yolo-v8/__pycache__