/.vscode
/01-ObjectDetection/CenterNet/code/weight
/02-Segmetation/yolact/result_temp
/02-Segmetation/yolact/logs
/02-Segmetation/yolact/__pycache__
/02-Segmetation/yolact/weights
/02-Segmetation/yolact/nohup.out
/02-Segmetation/yolact/results