checkpoints
outputs
ocr_detect_result
pretrained
data
dataset/__pycache__
dataset/psenet/__pycache__
models/__pycache__
models/backbone/__pycache__
models/head/__pycache__
models/loss/__pycache__
models/neck/__pycache__
models/post_processing/__pycache__
models/post_processing/pse/__pycache__
models/post_processing/pse/build
models/post_processing/pse/*.so
models/utils/__pycache__
utils/__pycache__
onnx
trt
result
results
mAP/input
nohup.out
psenet_evaluation_results.log
